.containerCourses {
    display: flex;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.course {
    width: 200px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    border: 2px solid #e4e4e4;
    padding: 20px;
    cursor: pointer;
}

.course:hover {
    border: 2px solid #0075b4;
}
